* {
  margin: 0;
}
.app {
  background-color: #fafafa;
  /* height: 100vh; */
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
}

.app__main_post {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__signup {
  display: flex;
  flex-direction: column;
}
